.right-align {
    float: center;
    padding-right: 200px;
    padding-left: 400px;
  }

  h2 {
    padding-left: 400px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
  }

  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    /* table-layout: auto; */
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }

  /* Mengatur tampilan sel header */
  th {
    background-color: #00adb5;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  /* Mengatur tampilan sel data */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }